# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Node.js dependencies and logs
/node_modules/
/jspm_packages/
npm-debug.log*
yarn-error.log
.npm

# Logs and runtime data
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Dependency directories and builds
bower_components/
/libpeerconnection.log
testem.log

# Coverage directories
/coverage
/lib-cov/
.grunt

# Angular specific cache and build
/.angular/cache

# IDEs and editors settings
.idea/
/.project
.classpath
.c9/
*.launch
.settings/
/.history/
/.vscode/
*.sublime-project
*.sublime-workspace

# VS Code specific settings (allow settings, tasks, launch, and extensions to be versioned)
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Miscellaneous
.sass-cache/
/connect.lock
.lock-wscript

# Exclude compiled JavaScript files and sourcemaps
/src/**/*.js
/src/**/*.js.map
